shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
registry=https://registry.npmmirror.com/
node-linker=hoisted
prefer-offline=true
offline-mirror=./npm-cache
offline-mirror-registry=https://registry.npmmirror.com/
save-exact=true
include-workspace-root=true
side-effects-cache=true 